@font-face {
  font-family: 'Seven Segment';
  font-style: normal;
  font-weight: 400;
  src: url('SevenSegFont.woff') format('woff');
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-medium);
  color: rgb(221, 221, 221);
}

#calculator-body {
  width: 22.5rem;
  margin: auto;
  padding: 1.6rem;
  margin-top: 15vh;
  background-color: rgb(62, 59, 59);
  border-radius: 1rem;
  box-shadow: 0 0 0 1px black, 0 0 0 5px rgb(46, 37, 37);
}

/* #################### Upper Elements ######################### */
#screen {
}

#upper-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0;
}

#brand {
  font-weight: var(--font-weight-bold);
  font-size: x-large;
  width: 18%;
}

#pv-cell {
  width: 40%;
  height: 2.6rem;
  background-color: rgb(41, 22, 22);
  border-radius: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: inset 0 0 4px black;;
}

.line {
  width: 1px;
  height: auto;
  background-color: rgb(79, 48, 48);
}

#model-no {
  font-size: medium;
}

/* #################### LCD Screen Styling ######################### */
#lcd-screen {
  display: flex;
  justify-content: end;
  align-content: center;
  width: 100%;
  height: 4.6rem;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
  background-color: rgb(199, 213, 199);
  border-radius: 0.2rem;
  box-shadow: 
    inset 0 0 5px black; /* Top-left highlight rgba(255, 255, 255, 0.2) */ 
  overflow: hidden;
  position: relative;
}

.seven-segment {
  font-family: 'Seven Segment', sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  color: rgb(57, 61, 80);
  letter-spacing: 0.2rem;
  /* text-shadow: 0 0 2px black; */
}

#screen-io {
  align-self: center;
  margin-right: 0.6rem;
  padding-top: 0.5rem;
  max-width: 100%;
  overflow: hidden;
  text-align: right; /* Align content to the right */
  text-overflow: ellipsis; /* Add ellipsis for clipped content */
  white-space: nowrap;
  direction: rtl;
}

/* #################### Keypad layout ######################### */
#keypad {
  width: fit-content;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: calc(2.8rem / 2) repeat(5, 2.8rem);
  gap: 0.6rem;
}

#keypad > button:nth-child(1) {
  grid-column: 4;
  background-color: rgb(84, 126, 84);
}

#keypad > button:nth-child(2) {
  grid-column: 5;
}

#keypad > button:nth-child(22) {
  grid-column: 1;
}

/* Last btn, + btn */
#btn-6-5 {
  grid-row: 5 / 7;
  grid-column: 5;
}

/* #################### Button Styling ######################### */
.btn {
  background-color: rgb(28, 26, 26);
  border: 0.1rem solid black;
  /* box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5); */
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  font-size: large;
  width: 3.8rem;
  border-radius: 0.3rem;
  color: rgb(221, 221, 221);
  text-align: center;
  align-content: center;
  cursor: pointer;
}

/* Set% button */
#btn-2-4 {
  line-height: 1.1rem;
  align-content: flex-start;
}

#btn-2-4 #set-text {
  font-size: x-small;
}

/* Mode button */
#btn-3-1 {
  line-height: 1.1rem;
  align-content: flex-start;
}

#btn-3-1 #mode-text {
  font-size: x-small;
}

#btn-5-1 {
  background-color: rgb(151, 87, 2);
}

#btn-6-1 {
  background-color: rgb(151, 87, 2);
}

.xl-font {
  font-size: x-large;
}

.md-font {
  font-size: medium;
}

.press {
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5); /* Inset shadow to give pressed effect */
  transform: scale(0.99); /* Slightly shrink the button */
  background-color: rgb(25, 23, 23); /* Darken the background */
  color: rgb(209, 209, 209);
}