#grid {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 6;
}

#btn-2-1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.btn {
  background-color: black;
  height: 3rem;
  width: 3rem;
  border-radius: 15%;
  color: white;
  text-align: center;
  align-content: center;
}